@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #7177f1;
    --second-color: #323232;
    --text: #fff;
    --circle: #790FF1;
    --square: #9297EF;
    --font-m: 'Montserrat';
    --body: #fff;
    --dots: #828282;
}

body {
    font-family: var(--font-m);
    background: var(--body);
}

.logo::before {
    content: url(../image/svg/logo-light.svg);
    display: inline-block;
}

a {
    text-decoration: none;
}

.header__link {
    font-size: 24px;
    line-height: 16px;
    text-transform: capitalize;
    color: var(--main-color);
    font-family: var(--font-m);
}

.header__list {
    column-gap: 30px;
}

.all-btn {
    color: #fff;
    background: var(--main-color);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    display: inline-block;
    transition: 0.2s linear;
    text-transform: uppercase;
}

.header__link-btn {
    padding: 10px 43px;
    margin-right: 28px;
}

.all-btn:hover {
    background: transparent;
    color: var(--main-color);
}

.header__link-icon {
    font-size: 25px;
    color: var(--main-color);
}

.menu-button {
    border: none;
    width: 50px;
    height: 1px;
    background: var(--second-color);
    padding: 0;
    position: relative;
}

.menu-button::after,
.menu-button::before {
    width: 100%;
    z-index: -1;
    height: 100%;
    content: '';
    background: var(--second-color);
    position: absolute;
    left: 0;
    top: -10px;
    transition: 0.2s linear;
}

.menu-button::after {
    top: 10px;
}

.menu-button:focus {
    box-shadow: none;
}

.menu-button:not(.collapsed)::before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-button:not(.collapsed)::after {
    transform: rotate(45deg);
    top: 0;
}

.menu-button:not(.collapsed) {
    background: transparent;
}

.header__nav {
    position: relative;
}

.header__nav::before {
    content: '';
    position: absolute;
    top: 150px;
    z-index: -1;
    left: 48px;
    width: 80px;
    height: 80px;
    border: solid var(--square) 5px;
    animation: animte 1.7s linear infinite alternate;
}

@keyframes animte {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logo::after {
    content: '';
    position: absolute;
    top: 50px;
    left: -50px;
    width: 65px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid var(--circle);
    animation: animte 1.7s linear infinite alternate;
}

.logo {
    position: relative;
}

.header__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: var(--second-color);
    margin-bottom: 10px;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: var(--main-color);
}

.header__title {
    margin-bottom: 25px;
}

.header__btn {
    padding: 12px 58px;
    display: inline-block;
}

.header__indicators {
    position: static;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    column-gap: 30px;
}

.header__indicators-btn {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    border: none !important;
    background: var(--dots) !important;
}

.header__indicators-btn.active {
    background: var(--main-color) !important;
}

.header__bottom {
    position: relative;
}

.header__bottom::before {
    content: '';
    position: absolute;
    right: 300px;
    z-index: -1;
    top: 60%;
    width: 80px;
    height: 80px;
    animation: animte 1.7s linear infinite alternate;
    border: 5px solid var(--main-color);
}

.header__bottom::after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 160px;
    top: 0;
    width: 98px;
    height: 98px;
    animation: animte 1.7s linear infinite alternate;
    border: 5px solid var(--main-color);
}

.header__content-desc {
    margin-bottom: 50px;
}

.header__icon {
    font-size: 77px;
}

.header__icon-card:nth-child(1) .header__icon {
    color: #E44F26;
}

.header__icon-card:nth-child(2) .header__icon {
    color: #1572B6;
}

.header__icon-card:nth-child(3) .header__icon {
    color: #790FF1;
}

.header__icon-title {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: var(--main-color);
    text-transform: capitalize;
}

.my-work {
    padding-top: 70px;
    position: relative;
}

.my-work__img {
    position: relative;
}

.my-work__span {
    position: absolute;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--second-color);
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    padding: 24px 20px;
    width: max-content;
    top: 20px;
    left: 0;
    transform: translateX(-50%);
}

.my-work__span::after {
    content: '5+';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #0FDAC2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
    font-style: italic;
    transform: translate(50%, -50%);
}

.my-work__descr {
    height: 100%;
    padding: 30px;
    background: var(--body);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
}

.my-work-title {
    margin-bottom: 20px;
}

.my-work-txt {
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: var(--text);
    margin-bottom: 30px;
}

.my-work-btn {
    padding: 14px 33px;
    margin-left: 80px;
}

.my-work::after {
    content: url(../image/svg/figure_1.svg);
    position: absolute;
    top: -90%;
    right: 0;
    z-index: -1;
}

.my-work::before {
    content: '';
    position: absolute;
    right: 113px;
    bottom: -100px;
    width: 65px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid var(--square);
    animation: animte 1.7s linear infinite alternate;
}

.capabilities {
    padding-top: 75px;
}

.capabilities-title {
    text-align: center;
    margin-bottom: 30px;
}

.capabilities__icon {
    margin-right: 20px;
    font-size: 25px;
}

.accordion-item:nth-child(1) .capabilities__icon {
    color: #E44F26;
}

.accordion-item:nth-child(2) .capabilities__icon {
    color: #1572B6;
}

.accordion-item:nth-child(3) .capabilities__icon {
    color: #790FF1;
}

.capabilities__tech {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--main-color);
}

.capabilities__accordion {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
}

.capabilites__button::after {
    background-image: url(../image/svg/arrow.svg);
    transition: 0.2s;
}

.capabilites__button:not(.collapsed):after {
    background-image: url(../image/svg/arrow-white.svg);
    transform: rotate(0);
}

.capabilites__button:not(.collapsed) {
    background: var(--main-color);

}

.capabilites__button:focus {
    box-shadow: none;
}

.capabilites__button:not(.collapsed) .capabilities__tech,
.capabilites__button:not(.collapsed) .capabilities__icon {
    color: #fff;
}

.capabilities__accordion .accordion-item {
    border: none;
}

.accordion-collapse {
    background: var(--main-color);
}

.capabilites__button {
    transition: none;
    padding: 17px 42px;
    border: none;
    box-shadow: none !important;
    position: relative;
    background: var(--body);
}

.capabilites__button::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 1px;
    background: #DDDDDD;
    border-radius: 8px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.accordion-item:nth-last-child(1) .capabilites__button::before {
    display: none;
}

.accordion__txt {
    color: #fff;
}

.capabilities-img img {
    width: 100%;
}

.works__tab-image {
    border-radius: 8px;
    overflow: hidden
}

.works__tab-image img {
    min-height: 320px;
    height: 100px;
    max-width: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.my-works__title {
    text-align: center;
    margin-bottom: 30px;
}

.my-works {
    padding-top: 80px;
    position: relative;
}

.my-works::before {
    content: url(../image/svg/figure_2.svg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    top: -25%;
}

.works__tab-list {
    border-radius: 8px;
}

.works__tab-link {
    background: var(--body);
    padding: 16.5px;
    font-weight: 600;
    font-size: 18px;
    color: var(--main-color);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
    border: none;
    text-transform: uppercase;
}

.list-group-item.active {
    background: var(--main-color);
    color: var(--body);
}

.works__tab-desc {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    background: var(--body);
    padding: 20px;
}

.works__tab-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}

.works-tab__txt {
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: var(--second-color);
    margin-bottom: 20px;
}

.works__tab-btn {
    padding: 11px 60px;
}

.my-works::after {
    position: absolute;
    content: '';
    width: 98px;
    height: 98px;
    border: 5px solid var(--square);
    animation: animate2 8s infinite reverse linear;
    bottom: 0;
}

@keyframes animate2 {
    0% {
        right: 0%;
        transform: rotate(0) translateY(0vh);
    }

    50% {
        right: 95%;
        transform: rotate(720deg) translateY(20vh);

    }

    100% {
        right: 0;
        transform: rotate(0) translateY(0vh);
    }
}

.footer {
    padding-top: 220px;
    padding-bottom: 133px;
}

.footer__logo {
    margin-bottom: 30px;
}

.footer__contact,
.footer__link {
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: var(--main-color);
}

.footer__contact:hover,
.footer__link:hover {
    color: #fff;
}

.footer__list {
    margin-bottom: 30px;
}

.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    place-items: center;
    z-index: 1000;
}

.load__gif {
    width: 260px;
}